<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Night Drive.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C2F55DD2572F919005CE548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2F55F32572F91A005CE548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C2F55FE2572F91A005CE548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
